* {
    box-sizing: border-box;
    font: inherit;
    margin: 0;
    padding: 0;
}

:root {
    --golden-ratio: 1.61803399;
    --font-color: black;
    --background-color: white;
    --button-color: rgb(227, 227, 227);
    --link-color: blue;
}

@media (prefers-color-scheme: dark) {
    :root {
        --font-color: white;
        --background-color: #202020;
        --button-color: #424242;
        --link-color: lightblue;
    }
}

a {
    color: var(--link-color);

    &:visited {
        color: var(--link-color);
    }
}

body {
    color: var(--font-color);
    background-color: var(--background-color);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    font-size: 21px;
}

article>header {
    font-size: calc(1em * var(--golden-ratio));
}

section>header {
    font-size: 1em;
}

#root {
    width: 40em;
}

#root>header,
main,
footer {
    padding: 0.5em;
}

nav>ol {
    list-style: none;
    display: flex;
    flex-direction: row;
    column-gap: 0.5em;
}

#root {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

table {
    border-collapse: collapse;
    width: 100%;

    & td,
    th {
        border: solid 2px black;
        padding: 0.25em;
    }
}

header {
    font-weight: bold;
}

form.noise {
    display: grid;
    grid-template-columns: auto auto;

    row-gap: 0.5em;
    column-gap: 0.25em;

    align-items: baseline;

    & fieldset {
        /* These reset their own flow... */
        grid-column: span 2;
        display: grid;
        grid-template-columns: subgrid;

        row-gap: 0.5em;
        column-gap: 0.25em;

        & legend {
            display: block;
            grid-column: span 2;
        }
    }

    & label {
        grid-column: span 2;
        display: grid;
        grid-template-columns: subgrid;

        align-items: baseline;
    }
}

fieldset {
    display: block;
    border: none;

    & legend {
        display: block;
    }

    & legend {
        padding-inline: 0;
    }
}

input {
    background-color: var(--background-color);
    color: var(--font-color);
}

input {
    display: block;
    border: solid 2px var(--font-color);
}

button,
a.button {
    color: var(--font-color);
    background-color: var(--button-color);
}

a.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.5em;

    text-decoration: none;
    width: auto;
}

a.button.download {
    &::after {
        content: "";
        width: 1em;
        height: 1em;
        background-image: url(./icons/download.svg);
        background-size: contain;
    }
}

button,
a.button {
    cursor: pointer;

    border: solid 2px var(--font-color);
    border-radius: 0.5em;

    &:hover {
        filter: brightness(90%);
    }

    &:active {
        filter: brightness(80%);
    }
}

@media (prefers-color-scheme: dark) {

    button,
    a.button {
        &:hover {
            filter: brightness(110%);
        }

        &:active {
            filter: brightness(120%);
        }
    }
}

input[type="text"],
input[type="time"],
input[type="date"],
a.button,
button {
    padding: 0.25em 0.5em;
}

label {
    width: 100%;
}

fieldset {
    width: 100%;
}

form.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    column-gap: 0.25em;
    row-gap: 0.25em;

    align-items: baseline;

    & fieldset {
        grid-column: span 2;

        display: grid;
        grid-template-columns: subgrid;
    }
}

ol.page {
    list-style: none;

    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;

    &>li {
        flex-grow: 1;
        width: 100%;

        text-align: center;
        vertical-align: middle;

        &>button {
            width: 100%;
        }
    }
}

@media (width <=60em) {
    ol.page {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;

        align-content: stretch;
        justify-content: stretch;
    }
}

@media (width <=60em) {
    #root {
        width: 100%;
    }

    form.noise {
        display: flex;
        grid-template-columns: none;
        flex-direction: column;

        & fieldset {
            display: flex;
            flex-direction: column;
        }

        & label {
            display: flex;
            flex-direction: column;
        }
    }

    form.history {
        display: flex;
        flex-direction: column;
    }
}

/* ApexCharts does it own theming, but does it through JavaScript */
/* CSS is meant for styling, not JavaScript! */
figure.chart .apexcharts-canvas {
    & text {
        fill: var(--font-color);
    }

    & foreignObject span.apexcharts-legend-text {
        color: var(--font-color) !important;
    }

    & .apexcharts-tooltip {
        background-color: var(--background-color) !important;

        & .apexcharts-tooltip-title {
            background-color: var(--background-color) !important;
        }
    }

    & .apexcharts-xaxistooltip {
        background-color: var(--background-color) !important;
    }

    & .apexcharts-xaxistooltip-text {
        color: var(--font-color) !important;
    }
}

figure.table {
    display: grid;
    grid-template-areas:
        "count download"
        "table table"
        "pages pages"
        "caption caption";
    align-items: baseline;
    row-gap: 0.5em;

    &>label {
        grid-area: count;
    }

    &>a.download {
        grid-area: download;
        justify-self: flex-end;
    }

    &>table {
        grid-area: table;
    }

    &>ol.page {
        grid-area: pages;
    }

    &>figcaption {
        grid-area: caption;
    }
}